
body {
    text-align: left;
    background-color: #F8FAFA;
    color: #1D1E26;
}

h3 {
    font-weight: 500;
    color: #B1647A;
    font-variant: small-caps;
}

#main {
   margin: auto;
   max-width: 1000px;
   max-height: max-content;
}

#main h1{
    margin-top: 50px;
}

.row{
    margin-bottom: 1em;
}

.info{
    font-size: 30px;
}

.isPink{
    color: #B1647A;
}

.techn p{
    text-transform: uppercase;
    margin-bottom: 0px;
}

.shortdes{
    font-weight: bold;
    text-transform: uppercase;
}

.imagesCover{
    width: 1000px;
    height: 400px;
    object-fit: cover;
}

/* footer */
footer{
    /* color: white;
    background-color:#666666; */
    /* text-align: center; */
    margin: auto;
    max-width: 1000px;
    padding-top: 3em;
    font-size: 15px;
}