
body {
    padding: 20px;
    text-align: left;
    background-color: #F8FAFA;
    color: #1D1E26;
    
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2.5s; /* don't forget to set a duration! */
}

.heading{
    display: flex;
    justify-content: space-between;
}

h3 {
    font-weight: 500;
    color: #B1647A;
    font-variant: small-caps;
}

#main {
   margin: auto;
   max-width: 1000px;
   max-height: max-content;
}

#main h1{
    margin-top: 50px;
}

.row{
    margin-bottom: 1em;
}

.info{
    font-size: 30px;
}

.isPink{
    color: #B1647A;
}

.btnLink{
    color: #B1647A;
    background-color: #F8FAFA;
    /* border-style: solid;
    border-color: #B1647A;; */
    padding: 3px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 32px; 
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

  .btnLink:hover {
    max-width: 200px;
  }
  
  .icon {
    font-size: 25px;
    margin-right: 5px;
    padding: 0px 2px;
    display: flex;
    align-items: center;
  }
  
  .btnText {
    color: #B1647A;
    white-space: nowrap;
    font-size: 18px;
    padding-right: 5px;
    font-variant: small-caps;
  }


.techn p{
    margin-bottom: 0px; 
}

.shortdes{
    font-weight: bold;
    text-transform: uppercase;
}

.desLabel{
    font-weight: bolder;
}

.align-center {
    text-align: center; 
    margin: auto;
    margin-bottom: 15px;
}

.imagesCover{
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

/* footer */
footer{
    /* color: white;
    background-color:#666666; */
    /* text-align: center; */
    margin: auto;
    max-width: 1000px;
    padding-top: 3em;
    font-size: 15px;
}