:root{
    --accent-color:#B1647A;
}

*{
    padding: 0;
    margin: 0;
}

#main {
    margin: auto;
    max-height: max-content;
 }

.navbar{
    padding: 0 20px;
}

#about{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 88px 0px;
}

#skills{
    max-width: 715px;
    padding: 0 0 0 10px;
    margin: auto;
    text-align: left;
}

#contact-section{
    margin-top: 20px;
}

.icons{
    margin: 10px;
}

.fa-bounce-hover:not(:hover) {
    animation: none;
 }

 .fa-bounce-hover:hover{
    animation: fa-bounce 2s infinite;
 }


.link-basic{
    text-decoration: none;
    color: black;
    cursor: pointer;
 }

.link-basic:hover{
    color: black;
    cursor: pointer;
}

.link-style{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link-style:hover{
    color: var(--accent-color);
    cursor: pointer;
}

.link-underline{
    /* ref: https://css-tricks.com/css-link-hover-effects/ */
    background: linear-gradient(0deg, var(--accent-color), var(--accent-color)) no-repeat right bottom / 0 2px;
    transition: background-size 350ms;
}

.link-underline:hover{
    cursor: pointer;
    color: var(--accent-color);

    background-size: 100% 2px;
    background-position-x: left;
}

.smaller-text{
    font-size: 14px;
}

#projects{
    margin: auto;
}

.project{
    transition: all 0.5s;
}

.project:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.project-image{
    width: 100%;
    height: 225px;
    pointer-events: none;
}

footer{
    padding: 50px 0px 10px 0px;
}

/* ------------------------------------------------------------------------------------------- */
/* for individual project pages */

.project-main {
    margin: auto;
    max-height: max-content;
 }

.project-brief{
    display: flex;
}

.project-about{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 88px 0px 10px 0;
}

.project-basic-info{
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.project-img-showcase{
    text-align: center;
}

.project-img-showcase img{
    max-width: 900px;
    height: auto;
    object-fit: contain;
    
}

.project-body{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.thin-font{
    font-weight: 300;
}

.feature{
    height: 400px;
    transition: all 0.5s;
}

.feature:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.feature-image{
    max-width: 100%;
    height: 225px;
    pointer-events: none;
    object-fit: contain;
}

.color-text{
    color: var(--accent-color);
}